<div class="card mt-4">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card-header">Dovanų sąrašas</div>
    <div class="card-body">
        <app-error *ngIf="isError" [message]="'Įrašų sąrašo užkrauti nepavyko'" (close)="closeError()"></app-error>
        <table class="table" *ngIf="!isLoading && !isError">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Grupė/atlikėjas</th>
                    <th>Albumo pavadinimas</th>
                    <th>Metai</th>
                    <th>Žanras</th>
                    <th class="table-veiksmai">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{record.artist}}</td>
                    <td>{{record.album}}</td>
                    <td>{{record.year}}</td>
                    <td>{{record.genre}}</td>
                    <td class="d-flex justify-content-start">
                        <a class="btn btn-sm btn-outline-success mx-1" [routerLink]="['/edit', record.id]">Redaguoti</a>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteRecord(record.id)">Ištrinti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>