<div class="card mt-4">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card-header">
        Pridėti naują įrašą
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="" class="form-label">Grupė / atlikėjas</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="artist">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Albumo pavadinimas</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="album">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Metai</label>
            <input type="number" name="" id="" class="form-control" [(ngModel)]="year">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Žanras</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="genre">
        </div>
        <button class="btn btn-primary" (click)="addRecord()" [disabled]="artist == null || album == null || year == null || genre == null">Pridėti</button>
    </div>
</div>